<div class="container-fluid">

    <div class="alert alert-dark col-12">
        <div class="form-group row">
            <div class="col-md-4 col-sm-12">
                <div class="input-group mt-1">

                    <input type="text" class="form-control form-control-sm" name="cauta" [(ngModel)]="searchText"
                        placeholder="Cauta...">
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-secondary" (click)="getOferte()"><i
                                class="fa-solid fa-magnifying-glass"></i></button>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group row">
                    <div class="col-12">
                        <div class="btn-group">
                            <button class="btn btn-sm btn-success" (click)="add()" *ngIf="visibleButton()"><i
                                    class="fa fa-plus-circle"></i>&nbsp;Adauga</button>
                        </div>
                        <button class="btn btn-sm btn-warning m-1" (click)="schimbaStatus()"
                            [disabled]="disableButton('status')" *ngIf="visibleButton()"><i
                                class="fa fa-lock"></i>&nbsp;Status</button>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <button class="btn btn-sm btn-dark m-1" (click)="exportCsv()" [disabled]="disableButton('export')"
                    *ngIf="visibleButton()"><i class="fa fa-download"></i>&nbsp;Export</button>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <legend>Produse</legend>
            <ag-grid-angular style="height: 70vh;" class="ag-theme-alpine" [gridOptions]="grid.gridOptions">
            </ag-grid-angular>
        </div>
    </div>
   
</div>