<div class="container-fluid">

    <div class="alert alert-dark col-12">
        <div class="form-group row">
            <div class="col-md-4 col-sm-12">
                <div class="input-group mt-1">

                    <input type="text" class="form-control form-control-sm" name="cauta" [(ngModel)]="searchText"
                        placeholder="Cauta...">
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-secondary" (click)="getListaStatus()"><i
                                class="fa-solid fa-magnifying-glass"></i></button>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group row">
                    <div class="col-12">
                        <div class="btn-group">
                            <button class="btn btn-sm btn-success" (click)="add()" *ngIf="visibleButton()"><i
                                    class="fa fa-plus-circle"></i>&nbsp;Adauga</button>

                        </div>

                        <button class="btn btn-sm btn-primary m-1" (click)="edit()"
                            [disabled]="disableButton('edit')" *ngIf="visibleButton()"><i
                                class="fa fa-edit"></i>&nbsp;Modifica</button>
                        <button class="btn btn-sm btn-danger m-1" (click)="sterge(idstatus)"
                            [disabled]="disableButton('sterge')" *ngIf="visibleButton()"><i
                                class="fa fa-user-times"></i>&nbsp;Elimina</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <!-- <button class="btn btn-sm btn-warning m-1" (click)="importCursanti()"
                    [disabled]="disableButton('import')" *ngIf="visibleButton()"><i
                        class="fa fa-upload"></i>&nbsp;Import</button> -->

                <button class="btn btn-sm btn-dark m-1" (click)="exportCsv()" [disabled]="disableButton('export')"
                    *ngIf="visibleButton()"><i class="fa fa-download"></i>&nbsp;Export</button>

            </div>


        </div>
    </div>
    <div class="row">
        <div class="col">
            <legend>Nomenclatoare</legend>
            <!--NAV TAB-->
            <ul class="nav nav-tabs">

                <li class="nav-item">
                    <a [routerLink]="['/nomenclator', 'tipactivitate']" [ngClass]="setActive('tipactivitate')"
                        aria-current="page">Tip activitate</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/nomenclator', 'tipfunctie']" [ngClass]="setActive('tipfunctie')"
                        aria-current="page">Tip functie</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/nomenclator', 'tipstatustask']" [ngClass]="setActive('tipstatustask')"
                        aria-current="page">Status task</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/nomenclator', 'tipprioritate']" [ngClass]="setActive('tipprioritate')">Tip
                        prioritate</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/nomenclator', 'tipcontact']" [ngClass]="setActive('tipcontact')">Tip contact</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/nomenclator', 'tipstatus']" [ngClass]="setActive('tipstatus')">Tip status</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/nomenclator', 'tipinteres']" [ngClass]="setActive('tipinteres')"
                        aria-current="page">Tip interes</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/nomenclator', 'tipoferta']" [ngClass]="setActive('tipoferta')"
                        aria-current="page">Tip oferta</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/nomenclator', 'tiptitlu']" [ngClass]="setActive('tiptitlu')"
                        aria-current="page">Titlu</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/nomenclator', 'specmed']" [ngClass]="setActive('specmed')"
                        aria-current="page">Specialitate medicala</a>
                </li>
            </ul>
            <!--END NAV TAB-->
        </div>

    </div>
    <div class="row mt-2">
        <div class="col-12">
            <ag-grid-angular style="height: 70vh;" class="ag-theme-alpine" [gridOptions]="grid.gridOptions">
            </ag-grid-angular>

        </div>

    </div>



</div>