<div class="container">

    <div class="row mt-2 border-bottom">
      <legend>Task</legend>
    </div>
  
    <div class="row">
      <div class="col mt-2 mb-2 text-center">
        <button type="button" class="btn btn-danger btn-lg w-100" (click)="goActivitate()">
          <i class="fa-solid fa-list-check"></i><br />Activitate
        </button>
      </div>
      <div class="col mt-2 mb-2 text-center">
        <button type="button" class="btn btn-danger btn-lg w-100" (click)="goOferte()">
          <i class="fa-solid fa-hand-holding-medical"></i><br />Oferte
        </button>
      </div>
      <div class="col mt-2 mb-2 text-center">
        <button type="button" class="btn btn-danger btn-lg w-100" (click)="goProiecte()">
          <i class="fa-solid fa-diagram-project"></i><br />Proiecte
        </button>
      </div>
    </div>
    <div class="row mt-2 border-bottom">
        <legend>Nomenclatoare</legend>
      </div>
    <div class="row">
        <div class="col mt-2 mb-2 text-center">
            <button type="button" class="btn btn-primary btn-lg w-100" (click)="goContacte()">
              <i class="fa-regular fa-address-book"></i><br />Contacte
            </button>
          </div>
          <div class="col mt-2 mb-2 text-center">
            <button type="button" class="btn btn-primary btn-lg w-100" (click)="goUnitate()">
              <i class="fa-regular fa-hospital"></i><br />Unitate
            </button>
          </div>
          <div class="col mt-2 mb-2 text-center">
            <button type="button" class="btn btn-primary btn-lg w-100" (click)="goNomenclator()">
              <i class="fa-solid fa-table-list"></i><br />Nomenclatoare
            </button>
          </div>
          <div class="col mt-2 mb-2 text-center">
            <button type="button" class="btn btn-primary btn-lg w-100" (click)="goProducator()">
              <i class="fa-solid fa-user-tie"></i><br />Producator
            </button>
          </div>
    </div>
    <div class="row mt-2 border-bottom">
        <legend>Warehouse</legend>
      </div>
    <div class="row">
      <div class="col mt-2 mb-2 text-center">
        <button type="button" class="btn btn-dark btn-lg w-100" (click)="goCategorii()">
          <i class="fas fa-list-alt"></i><br />Categorii
        </button>
      </div>
        <div class="col mt-2 mb-2 text-center">
            <button type="button" class="btn btn-dark btn-lg w-100" (click)="goProduse()">
              <i class="fa-solid fa-warehouse"></i><br />Produse
            </button>
          </div>
         
    </div>

  </div>
  